@import "@fontsource/roboto";
@import "@fontsource/roboto/900.css";
* {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #efe3fd;
}

.no-scroll {
  overflow-y: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
bold,
.bold {
  font-weight: 900;
}
.logo {
  background: linear-gradient(
    97.54deg,
    #60269e 1.96%,
    #03cffc 36.81%,
    #b977ff 77.81%,
    #6508c9 100.36%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}
.primary-button {
  background: linear-gradient(95.33deg, #b977ff -11.97%, #60269e 105%);
  border-radius: 50px;
  padding: 0.7rem 1rem;
  border-color: #60269e;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.navbar-brand {
  font-size: 2rem;
}

.primary-button:hover {
  transform: scale(1.1);
  border-color: #60269e;
}
.light-button {
  background: white !important;
  color: black !important;
  border: none !important;
  border-radius: 50px;
  padding: 0.7rem 1rem;

  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.light-button:hover {
  background: white;
  transform: scale(1.1);
}

.nav-link {
  font-size: 1.2rem;
  color: black !important;
}
